#bigtitle
{
float: left;
font-family: Garamond, Times, Serif;
font-size: 250%;
font-weight: bold;
font-style: normal;
color: white;
position: relative;
padding: 10px 0px 0px 10px;
}

.header
{
background-repeat: x-repeat;
width: 950px;
height: 300px;
clear: both;
}

#navigup{width:100%;margin:0px;padding:5px 0px 0px 0px;display:inline;overflow:hidden;float:left;}
#navigup ul{margin:0;padding:0;list-style:none;}
#navigup ul li{float:left;margin-right:20px;padding:3px; margin:3px 3px 0px 10px;}
#navigup ul li a{font-size:1.30em;font-weight:bold;text-decoration:none;color:#FFF;}
#navigup ul li.selected{background-color:white;}
#navigup ul li a:hover{text-decoration:underline; color: white; }
#navigup ul li.selected a:hover{text-decoration:underline;}

#navigup ul ul 
{
position: absolute;
z-index: 500;
display: none
}
#navigup ul li ul li {float:left;clear:both;list-style-type:none;margin:0; width:120px;text-align:left;padding:5px 10px 5px 10px;}
#navigup ul li ul li a {display:block;text-decoration:none;font-size:1.2em;}
#navigup ul li:hover ul {display:block;}

body{
background-color: white;	
margin: 0px;
text-align: center;
}

.content
{
margin-left: auto;
margin-right: auto;
width: 950px;
position: relative;
}

.text
{
background-color: white;
width: 650px;
min-height: 600px;
position: relative;
float: left;
margin: 10px;
padding: 25px;
text-align: justify;
border: 5px;
border-top-width: 0px;
}

.pravystlpec
{
width: 200px;
float: right;
margin: 5px;
border: 2px ;
border-radius: 15px;
}

.pravystlpec h3
{
color:white;
font-size: 1.0em;
border: 0px;
margin: 0px;
}

h1
{
text-align: center;
}


h2
{
font-size: 1.4em;
font-family: Garamond, Times, Serif;
font-weight: bold;
font-style: italic;
}

h3
{
font-weight: bold;
font-style: italic;
font-size: 1.3em;
color: white;
}

#patka
{
width: 950px;
background-color:white;
font-size: 1.0em;
clear: both;
}



 p.ozdobne
	{
	font-size:11.0pt;
	font-family:"Calibri","sans-serif";
	text-align:center;
	}
	
p.normal
	{
	font-size:12.0pt;
	font-family:"Calibri","sans-serif";
	line-height:150%;
	}
	
.index #patka, .index #navigup ul li.selected a:hover, .index #navigup ul li.selected a, .index h1 {color: orange;} 
.index .pravystlpec h3, .index .pravystlpec, .index #zanorovaci, .index .content, .index #bigtitle, .index .header, .index #navigup {background-color:orange;}
.index .text, .index pravystlpec {border-color: orange, border-style:solid;}
.index .header {background-image: URL("images/headers/riga.jpg");}
.index #navigup ul li ul li {background-color:darkorange; }
.index #navigup ul li ul li a {background:darkorange;}


.strava #patka, .strava #navigup ul li.selected a:hover, .strava #navigup ul li.selected a, .strava h1{color: brown;} 
.strava .pravystlpec h3, .strava .pravystlpec, .strava #zanorovaci, .strava .content, .strava #bigtitle, .strava .header, .strava #navigup{background-color:brown;}
.strava .text, .strava pravystlpec{border-color: brown, border-style:solid}
.strava .header {background-image: URL("images/headers/food.jpg");}
.strava #navigup ul li ul li {background-color:#660000; }
.strava #navigup ul li ul li a {background:#660000;}

.ubytovanie #patka, .ubytovanie #navigup ul li.selected a:hover, .ubytovanie #navigup ul li.selected a, .ubytovanie h1{color: #203c13;} 
.ubytovanie .pravystlpec h3, .ubytovanie .pravystlpec, .ubytovanie #zanorovaci, .ubytovanie .content, .ubytovanie #bigtitle, .ubytovanie .header, .ubytovanie #navigup{background-color:#203c13;}
.ubytovanie .text, .ubytovanie pravystlpec{border-color: #203c13, border-style:solid}
.ubytovanie .header {background-image: URL("images/headers/building.jpg");}
.ubytovanie #navigup ul li ul li {background-color:#006600; }
.ubytovanie #navigup ul li ul li a {background:#006600;}

.cestovanie #patka, .cestovanie #navigup ul li.selected a:hover, .cestovanie #navigup ul li.selected a, .cestovanie h1{color: #7a2545;} 
.cestovanie .pravystlpec h3, .cestovanie .pravystlpec, .cestovanie #zanorovaci, .cestovanie .content, .cestovanie #bigtitle, .cestovanie .header, .cestovanie #navigup{background-color:#7a2545;}
.cestovanie .text, .cestovanie pravystlpec{border-color: #7a2545, border-style:solid}
.cestovanie .header {background-image: URL("images/headers/bus.jpg");}
.cestovanie #navigup ul li ul li {background-color:#663333; }
.cestovanie #navigup ul li ul li a {background:#663333;}

.volnycas #patka, .volnycas #navigup ul li.selected a:hover, .volnycas #navigup ul li.selected a, .volnycas h1{color: #6481ab;} 
.volnycas .pravystlpec h3, .volnycas .pravystlpec, .volnycas #zanorovaci, .volnycas .content, .volnycas #bigtitle, .volnycas .header, .volnycas #navigup{background-color:#6481ab;}
.volnycas .text, .volnycas pravystlpec{border-color: #6481ab, border-style:solid}
.volnycas .header {background-image: URL("images/headers/leisure_activity.jpg");}
.volnycas #navigup ul li ul li {background-color:#0099CC; }
.volnycas #navigup ul li ul li a {background:#0099CC;}

.galeria #patka, .galeria #navigup ul li.selected a:hover, .galeria #navigup ul li.selected a, .galeria h1{color: #cf381d;} 
.galeria .pravystlpec h3, .galeria .pravystlpec, .galeria #zanorovaci, .galeria .content, .galeria #bigtitle, .galeria.header, .galeria #navigup{background-color:#cf381d;}
.galeria .text, .galeria pravystlpec{border-color: #cf381d, border-style:solid}
.galeria .header {background-image: URL("images/headers/galery.jpg");}
.galeria #navigup ul li ul li {background-color:#CC6633; }
.galeria #navigup ul li ul li a {background:#CC6633;}

.ostatne #patka, .ostatne #navigup ul li.selected a:hover, .ostatne #navigup ul li.selected a, .ostatne h1{color: #993300;} 
.ostatne .pravystlpec h3, .ostatne .pravystlpec, .ostatne #zanorovaci, .ostatne .content, .ostatne #bigtitle, .ostatne .header, .ostatne #navigup{background-color:#993300;}
.ostatne .text, .ostatne pravystlpec{border-color: #993300, border-style:solid}
.ostatne .header {background-image: URL("images/headers/ostatne.jpg");}
.ostatne #navigup ul li ul li {background-color:#996600; }
.ostatne #navigup ul li ul li a {background:#996600;}